@page "/"
@using Shared.Models



<div class="container">
    <h3 class="headline">Devices</h3>

    <div class="devices">
        @if (Devices != null)
        {
            foreach (var device in Devices)
            {
                <div id="@device.DeviceId" class="device @(device.DeviceState ? "active" : null)">

                </div>
            }
        }
        else
        {
            <div clsss="preloader">
                <i class="fa-solid fa-spinner-third fa-spin"></i>
            </div>
        }

    </div>
</div>



@code {
    private IEnumerable<DeviceSettings> Devices = [];
}