<div class="container">
    <NavLink href="" Match="NavLinkMatch.All">
        <i class="fa-duotone fa-solid fa-microchip"></i>
        <span class="title">Devices</span>
    </NavLink> 
    
    <NavLink href="new" Match="NavLinkMatch.All">
        <i class="bi bi-backpack4"></i>
        <span class="title">Add Device</span>
    </NavLink>
    
    <NavLink href="settings" Match="NavLinkMatch.All">
        <i class="fa-duotone fa-solid fa-gear"></i>
        <span class="title">Settings</span>
    </NavLink>

</div>
